{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>login Forms</title>
        <link rel="stylesheet" href="{% static 'style3.css' %}">
    </head>
<body>
    <style>
        a:link, a:visited {
          background-color: #f44336;
          color: white;
          padding: 10px 15px;
          text-align: center;
          text-decoration: none;
          display: inline-block;
        }
        
        a:hover, a:active {
          background-color:red;
        }
        </style>
    <p align="right"><a href="/"><strong>HOME</strong></a></p>
    
    
    <div class="main">
    <div class="container">
        {% for message in messages %}
              
    <h1 align="center">{{message}}!!!</h1>
    
    {% endfor %}

        <form action="login" method="post" class="form">
            {% csrf_token %}
            <br><br>
            <br>
            <h1 align="center">Log In</h1><br>
            <p align="center"><input type="username" name="username" class="box1" placeholder="Enter username" required></p>  
            <br>
            <p align="center"><input type="password" name="password" class="box2" placeholder="Enter Password" required></p>
            <br>
            <p align="center"><input type="submit" value="Log In" id="submit"></p>
            <p align="center">Do Not have a account?     <a href="register">Sign Up</a></p>
            <BR><br>    
            
        </form>
        <div>  
        </div>          
               
</body>
</html>