{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>registration </title>
        <link rel="stylesheet" href="{% static 'style2.css' %}">
    </head>
    <body>
        <style>
            a:link, a:visited {
              background-color: #f44336;
              color: white;
              padding: 10px 10px;
              text-align: center;
              text-decoration: none;
              display: inline-block;
            }
            
            a:hover, a:active {
              background-color:red;
            }
            </style>
      <p align="right"><a href="/"><strong>HOME</strong></a></p> 
        <div class="main">

        <div class="register">
            <h2>WELCOME!!</h2>
            {% for message in messages %}
                  
            <h1 align="center">{{message}}!!!</h1>
    
            {% endfor %}
            <form id="register" method="post">
                {% csrf_token %}
                <label>Name:</label><br>
                <input type="text" name="first_name" id="name" placeholder="First name" required>
                <br><br>
                <input type="text" name="last_name" id="name" placeholder="Last name" required>
                <br><br>
                <label>Username:</label><br>
                <input type="text" name="username" id="name" placeholder="Enter Your username" required>
                <br><br>
                <label>Email:</label>
                <br>
                <input type="email" name="email" id="name" placeholder="Enter your Email" required>
                <br><br>
                <label>Password:</label><br>
                <input type="password" name="password1" class="box1" placeholder="Password" required>
                <br><br>
                <input type="password" name="password2" class="box2" placeholder="Confirm Password" required>
                <br><br>
                <input type="submit" value="Sign Up" id="submit">
            </form>
            <div>
               
            </div>
            
    </body>
</html>